<h3>Bought By:</h3><%= @order.user.name %>

<% @order.carted_drones.each do |carted_drone| %>
  <h2>Product: <%= carted_drone.drone.name %>  <%= carted_drone.quantity %> <%= number_to_currency(carted_drone.drone.price) %></h2>
<% end %>

<h3>Subtotal:</h3> <%= number_to_currency(@order.subtotal) %>
<h3>Tax:</h3> <%= number_to_currency(@order.tax) %>
<h3>Total:</h3> <%= number_to_currency(@order.total) %>
