<h2>Brand / Model: <%= @drone.name %></h2>
<% @drone.images.each do |image| %>
  <h4><img src= <%= image.url %>></h4>
<% end %>
<h3>Description: <%= @drone.description %></h3>
<h4>But wait, how much is it?: <%= @drone.sale_message %> Before Tax <%= number_to_currency(@drone.price) %>, and after Tax <%= number_to_currency(@drone.total_price) %></h4>
<h5>Tax: <%= number_to_currency(@drone.tax) %></h5>
<div>
  <%= form_tag '/orders', method: :post do %>
    <input type="hidden" name="drone_id" value="<%= @drone.id %>">
    <h3>Quantity</h3><input type="text" name="quantity">
    <input type="Submit" value="Buy Now">
  <% end %>
</div>
<br>
<div>
<%= link_to "Edit Drone", "/drones/#{ @drone.id }/edit", class: "btn btn-warning" %>
</div>

<div>
<%= link_to "Delete Drone", "/drones/#{ @drone.id }", method: :delete, class: "btn btn-danger" %>
</div>
<div>
  <h6>Tags: <%= @drone.categories.pluck(:name).join(", ") %> </h6>
</div>


<h6>Supplier: <%= @drone.supplier.name %></h6>

